.reusableMainDiv{
    height: 100vh;
    background-color: #6577B3;
    display: inline-flex;
    width: 100%;
    background-image: url("https://wallpaper.dog/large/20550744.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.titlecss{
    margin-top: 20% !important;
    border: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
    background-color: transparent !important;
    box-shadow: none !important;
}
.TitleColor{
    /* color: #004141; */
    color: #005151 !important;
}