.logo {
    text-align: center;
    margin-top: 20% !important;
 }

 .titlecss {
    margin-top: 10% !important;
    border: none !important;
    margin-left: 6% !important;
    margin-right: auto !important;
    background-color: transparent !important;
    box-shadow: none !important;
 }

 .submitbtn {
    margin-left: 7.5% !important;
    font-family: 'Lucida Sans', 'Lucida Grande', sans-serif;
    
 }

 .otp {
    margin-left: 4px !important;
 }

 .suptag {
    color: red;
 }

 #outlined-weight-helper-text {
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Grande', sans-serif;
 }

 .username{
    font-size: medium !important;
   
    min-width: 100px !important;
    text-align: center !important;
    padding: 5px 0;
 
}

.sendOtp{
    display: flex !important;
    justify-content: left !important;
    margin-left: 37px;
}

.forgetPass{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-left: 40px;
    padding: 10px 10px;
}