


.registerlogo{
    margin-top: 10%!important;
    text-align: center;
    
}

 .Confotp{
    margin-left: 4px !important;
} 


.pass{
    margin: 8px ;
    margin-left: 4px !important;
}
.passcode-text{
    margin-left: 10px !important;
}
.register-noacc{
    margin-top: 10px;
}