.submitButton{
    margin-top: 10px !important; 
}
.alignCenter{
    padding-top: 100px !important;
    margin-top: -90px !important;
}
.boxCenter{
   margin-left: 26px;
    padding-right: 45%;
}
.logo{
    margin-top: 5px !important;
    
}
.Navlogin{
    margin-left: 26px !important;
}